@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

header h1{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li{
    margin-right: 15px;
    font-size: 18px;
    color: #E5E7EB;
    text-transform: lowercase;
}


.hero-page-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px;
    gap:20px;
    background-color: #1F2937;
}

.hero-page-section .hero-text{
    width: 500px;
}

.hero-page-section .hero-text h2{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-page-section .hero-text p{
    font-size: 18px;
    color: #E5E7EB;
    text-align: justify;
}

.hero-page-section .hero-text button{
    width: 130px;
    height: 40px;
    padding: 5px;
    margin-top: 7px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
}

.hero-page-section img{
    width: 600px;
    height: 250px;
}

.service-page-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.service-page-section h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 10px;
}

.service-page-section .service-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service-page-section .service-info .info-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-page-section .service-info .info-item img{
    width: 350px;
    height: 250px;
}

.service-page-section .service-info .info-item p{
    font-size: 20px;
    font-weight: 700;
}
