@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

header h1{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li{
    margin-right: 15px;
    font-size: 18px;
    color: #E5E7EB;
    text-transform: lowercase;
}


.hero-page-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px;
    gap:20px;
    background-color: #1F2937;
}

.hero-page-section .hero-text{
    width: 500px;
}

.hero-page-section .hero-text h2{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-page-section .hero-text p{
    font-size: 18px;
    color: #E5E7EB;
    text-align: justify;
}

.hero-page-section .hero-text button{
    width: 130px;
    height: 40px;
    padding: 5px;
    margin-top: 7px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
}

.hero-page-section img{
    width: 600px;
    height: 250px;
}

.service-page-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 25px;
}

.service-page-section h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 10px;
}

.service-page-section .service-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service-page-section .service-info .info-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-page-section .service-info .info-item img{
    width: 350px;
    height: 250px;
}

.service-page-section .service-info .info-item p{
    font-size: 20px;
    font-weight: 700;
}

.quote-page-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 35px;
    width: 100%;
    margin-bottom: 30px;
}

.quote-page-section p{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    width: 900px;
    margin-bottom: 10px;
}

.quote-page-section .author-box p{
    font-weight: 800;
    display: flex;
    justify-content: flex-end;
}

.action-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-bottom: 15px;
}

.action-section .call-action-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    background-color: #3882F6;
    padding: 30px;
    border-radius:1rem;
}

.action-section .call-action-box h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #F9FAF8;
}

.action-section .call-action-box p{
    font-size: 1rem;
    font-weight: 400;
    color: #F9FAF8;
}

.action-section button{
    width: 120px;
    height: 32px;
    background-color: transparent;
    border: 2px solid #F9FAF8;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 700;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #1F2937;
}

footer p{
    font-size: 20px;
    color: #F9FAF8;
}